@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.theme-dark {
    --color-primary: #f4a42b;
    --color-background: #1F1F1F;
    --backgroung-body: #1A1A1A;
    --color-inactive-button: #513D1F;
    --font-color: #ffff;
    --article-background: #00000056;
}


/*
.container {
    position: relative;

    display: inline-flex;
  
    text-align: center;
    color: white;
    z-index: -5;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
}

.container:hover {
    color: black;
}

.bottom-left {
    position: absolute;
    bottom: 25px;
    left: 30px;
    font-size: 20px;
    z-index: 0;
}

main {
    padding: 0px 10%;
    flex: none;
}

main div img {
    width: 600px;
}
*/

.container {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

main div img {
    width: 500px;
}