@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*font-family: 'Roboto Condensed', sans-serif;*/

.theme-dark {
    --color-primary: #f4a42b;
    --color-background: #1F1F1F;
    --backgroung-body: #1A1A1A;
    --color-inactive-button: #513D1F;
    --font-color: #ffff;
    --article-background: #00000056;
}

html,
body {
    height: 100%;
    width: auto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroung-body);
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#background-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.644), rgba(255, 0, 0, 0)), url(../images/background.jpg);
    background-position-y: 100px;
    background-repeat: no-repeat, no-repeat;
    background-size: auto;
}

#filler {
    margin-top: 100px;
}

main {
    padding: 0px 20%;
    flex: 1 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

nav {
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav li {
    display: inline;
}

h1 {
    text-align: center;
}

h3 {
    transition: 0.1s;
    text-align: center;
    font-weight: 200;
    margin: 0px;
    padding-bottom: 7px;
    font-size: 0.8em;
    color: var(--font-color);
}

nav a {
    margin: 10px 40px;
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
}

@keyframes text-color-change {
    from {
        color: var(--font-color);
        background-position: center 25px;
    }
    to {
        color: var(--color-primary);
        background-position: center 20px;
    }
}

nav a:hover {
    animation-name: text-color-change;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: var(--color-primary);
    background-image: url(../images/icons/circle.svg);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 4px;
}

.main_header {
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
    color: var(--color-primary);
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 30px;
    letter-spacing: 0.17em;
}

p {
    color: var(--font-color);
    font-size: 1.4em;
    font-weight: 300;
}

strong {
    font-weight: bold;
    color: var(--color-primary);
}

hr {
    width: 50vw;
    margin-bottom: 25px;
    height: 2px;
    border-width: 0;
    background-color: rgba(102, 101, 101, 0.479)
}

.social {
    height: 20px;
    fill: var(--font-color);
}

@keyframes color-change {
    from {
        fill: var(--font-color);
    }
    to {
        fill: var(--color-primary);
    }
}

.social:hover {
    fill: var(--color-primary);
    animation-name: color-change;
    animation-duration: 0.1s;
}

footer {
    flex-shrink: 0;
    text-align: center;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 40px;
}

footer a {
    text-decoration: none;
    margin: 0px 2.5%;
}

#autor {
    font-size: 12px;
    color: #6d6d6d;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

article {
    text-align: center;
    margin-bottom: 6%;
    padding: 20px 50px 50px 50px;
    margin-top: 100px;
}

.black-background {
    background-color: var(--article-background);
}

article h2 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.05em;
    color: var(--color-primary);
    font-size: 2.5em;
    font-weight: 400;
}

article h3 {
    color: var(--color-primary);
    font-size: 1.7em;
    font-weight: 400;
}

.download-text p {
    font-size: 1.3em;
    margin-bottom: 70px;
}

p a {
    text-decoration: underline;
    color: var(--font-color);
    font-size: 1.3em;
}

p a:hover {
    color: var(--color-primary);
}


/*table style*/

td {
    color: var(--font-color);
    padding: 20px 10px;
    font-size: 1.2em;
    font-weight: 300;
    width: 5%;
    text-align: center;
}

.software-icon {
    vertical-align: middle;
    padding-right: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-collapse: collapse;
}

.skills {
    list-style-type: none;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

.skills li {
    text-decoration: underline;
    display: inline-block;
    color: var(--font-color);
    padding: 20px;
}

.contacts {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

.contacts li {
    color: var(--font-color);
    padding: 20px;
    font-size: 1.2em;
    font-weight: 300;
}

.contacts a {
    text-decoration: none;
    color: var(--font-color);
}

@keyframes link-color-change {
    from {
        color: var(--font-color);
    }
    to {
        color: var(--color-primary);
    }
}

.contacts a:hover {
    animation-name: link-color-change;
    animation-duration: 0.1s;
    text-decoration: none;
    color: var(--color-primary);
}

.burger {
    display: none;
    position: fixed;
    top: 43px;
    right: 30px;
    border: none;
    cursor: pointer;
    background-color: #00000000;
    transition: 0.4s;
}

#burger_img {
    transition: 0.2s;
    height: 25px;
    filter: grayscale(100);
}



/*responzivita*/

@media (max-width: 800px) {
    nav ul {
        display: none;
    }
    nav ul li {
        display: block;
    }
    nav a:hover {
        background-image: none;
    }
    nav a {
        display: block;
        padding: 7px;
        margin: 3px 0px 3px 0px;
    }
    .burger {
        display: inline-block;
    }
    main {
        padding: 0px 5%;
    }
    .main_header {
        text-align: left;
        padding-left: 10px;
        width: 210px;
    }
    h3 {
        text-align: left;
        padding-left: 20px;
    }
    .skills {
        list-style-type: circle;
        width: 100%;
    }
    .skills li {
        text-decoration: underline;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #contacts_article {
        padding: 0px;
    }
}