@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*font-family: 'Roboto Condensed', sans-serif;*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.404), rgba(255, 255, 255, 0)), url(images/background.jpg);
    backdrop-filter: blur(12px);
    background-position-y: 100px;
}

html,
body {
    height: 100%;
}

main {
    padding: 0px 20%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    text-align: center;
}

nav {
    background-color: var(--color-background);
    position: sticky;
    top: 0px;
}

nav li {
    display: inline;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 200;
    margin: 0px;
    font-size: 0.8em;
    color: var(--font-color);
}

nav a {
    margin: 10px 40px;
    padding-bottom: 10px;
    text-decoration: none;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1em;
}

@keyframes text-color-change {
    from {
        color: var(--font-color);
        background-position: center 25px;
    }
    to {
        color: var(--color-primary);
        background-position: center 20px;
    }
}

nav a:hover {
    animation-name: text-color-change;
    animation-duration: 0.1s;
    color: var(--color-primary);
    background-image: url(images/icons/circle.svg);
    background-repeat: no-repeat;
    background-position: center 20px;
    background-size: 3px;
}

.theme-dark {
    --color-primary: #f4a42b;
    --color-background: #1F1F1F;
    --backgroung-element: #222222;
    --color-inactive-button: #513D1F;
    --font-color: #ffff;
    --article-background: #00000038;
}

.main_header {
    font-family: 'Oswald', sans-serif;
    color: var(--color-primary);
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 30px;
    letter-spacing: 0.17em;
}

p {
    color: var(--font-color);
    font-size: 1.4em;
    font-weight: 300;
}

strong {
    font-weight: bold;
    color: var(--color-primary);
}

hr {
    width: 20%;
    margin-bottom: 15px;
    height: 2px;
    border-width: 0;
    background-color: rgba(102, 101, 101, 0.479)
}

.social {
    height: 20px;
    fill: var(--font-color);
}

@keyframes color-change {
    from {
        fill: var(--font-color);
    }
    to {
        fill: var(--color-primary);
    }
}

.social:hover {
    fill: var(--color-primary);
    animation-name: color-change;
    animation-duration: 0.1s;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer a {
    text-decoration: none;
    margin: 0px 2.5%;
}

#autor {
    font-size: 0.6em;
    color: #6d6d6d;
}

article {
    text-align: center;
    margin-bottom: 6%;
    background-color: var(--article-background);
    padding: 20px 50px 50px 50px;
    margin-top: 6%;
}

article h2 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0.05em;
    color: var(--color-primary);
    font-size: 2.5em;
    font-weight: 400;
}