@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
/*font-family: 'Roboto Condensed', sans-serif;*/
html {
  scroll-behavior: smooth;
}

.theme-dark {
  --color-primary: #F4A42B;
  --color-background: #1A1A1A;
  --color-inactive-button: #513D1F;
  --font-color: #dbdbdb;

}
.theme-light {
  --color-primary: #F4A42B;
  --color-background: #e4e4e4;
  --color-inactive-button: #513D1F;
  --font-color: #1A1A1A;
}
body{
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}
.main_header{
  font-family: 'Oswald', sans-serif;
  color: var(--color-primary);
  font-size: 2em;
}
p{
  color:var(--font-color);
  font-size: 1.3em;
  font-weight: 300;
}
strong{
  font-weight: bold;
  color: var(--color-primary);
}
.social{
height:35px;
fill:var(--font-color);
}
footer a{
text-decoration: none;
}
#autor{
  font-size: 0.6em;
  color:#6d6d6d
}