@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*font-family: 'Roboto Condensed', sans-serif;*/

html {
    scroll-behavior: smooth;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 200;
    margin: 0px;
    font-size: 0.8em;
    color: var(--font-color);
}

nav ul {
    text-align: center;
    padding: 20px;
}

nav li {
    display: inline;
}

nav a {
    /* display: block; */
    padding: 10px 40px;
    text-decoration: none;
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

nav a:hover {
    color: var(--color-primary);
    background-image: url(images/icons/circle.svg);
    background-repeat: no-repeat;
    background-position: center 32px;
    background-size: 5px;
}

.theme-dark {
    --color-primary: #f4a42b;
    --color-background: #1F1F1F;
    --backgroung-element: #222222;
    --color-inactive-button: #513D1F;
    --font-color: #ffff;
}

.theme-light {
    --color-primary: #F4A42B;
    --color-background: #e4e4e4;
    --backgroung-element: #d1d1d1;
    --color-inactive-button: #513D1F;
    --font-color: #1F1F1F;
}

body {
    background-color: var(--color-background);
    font-family: 'Roboto', sans-serif;
    margin: 0px
}

.main_header {
    font-family: 'Oswald', sans-serif;
    color: var(--color-primary);
    font-size: 2em;
    margin-bottom: 5px;
}

p {
    color: var(--font-color);
    font-size: 1.3em;
    font-weight: 300;
}

strong {
    font-weight: bold;
    color: var(--color-primary);
}

.social {
    height: 25px;
    fill: var(--font-color);
}

@keyframes color-change {
    from {
        fill: var(--font-color);
    }
    to {
        fill: var(--color-primary);
    }
}

.social:hover {
    fill: var(--color-primary);
    animation-name: color-change;
    animation-duration: 0.1s;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    margin: 0px 40px;
}

#autor {
    font-size: 0.6em;
    color: #6d6d6d
}